Repository microsoft/ApplicationInsights-Java, pull requests merged in 2019-07, with the labels that each got.

#978 DateFormatter is not null-safe
  core/src/main/java/com/microsoft/applicationinsights/telemetry/BaseTelemetry.java
Labels: Team-Triaged

#975 Build script updates
  azure-application-insights-spring-boot-starter/build.gradle
  build.gradle
  collectd/build.gradle
  core/build.gradle
  distributions/build.gradle
  gradle/publishing.gradle
  gradle/test.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  logging/logging.gradle
  test/smoke/appServers/build.gradle
  test/smoke/testApps/AutoPerfCounters/build.gradle
  test/smoke/testApps/CachingCalculator/build.gradle
  test/smoke/testApps/CoreAndFilter/build.gradle
  test/smoke/testApps/FixedRateSampling/build.gradle
  test/smoke/testApps/HeartBeat/build.gradle
  test/smoke/testApps/PerfTestApp/build.gradle
  test/smoke/testApps/PerfTestAppSpringBoot/build.gradle
  test/smoke/testApps/SimpleCalculator/build.gradle
  test/smoke/testApps/SpringBoot1_3Auto/build.gradle
  test/smoke/testApps/SpringBootAuto/build.gradle
  test/smoke/testApps/SpringBootTest/build.gradle
  test/smoke/testApps/TraceLog4j1_2/build.gradle
  test/smoke/testApps/TraceLog4j1_2UsingAgent/build.gradle
  test/smoke/testApps/TraceLog4j2/build.gradle
  test/smoke/testApps/TraceLog4j2UsingAgent/build.gradle
  test/smoke/testApps/TraceLogBack/build.gradle
  test/smoke/testApps/TraceLogBackUsingAgent/build.gradle
  test/smoke/testApps/WebAuto/build.gradle
  test/smoke/testApps/build.gradle
  web/build.gradle
Labels: Build

#989 Enable dependency-check build plugin
  agent/dependency-check-suppressions.xml
  azure-application-insights-spring-boot-starter/build.gradle
  azure-application-insights-spring-boot-starter/dependency-check-suppressions.xml
  build.gradle
  gradle/common-java.gradle
  web-auto/dependency-check-suppressions.xml
  web/dependency-check-suppressions.xml
Labels: Build

#995 update test cases classes to be java 7 compatible.
  test/smoke/framework/testCases/src/main/java/com/microsoft/applicationinsights/smoketest/CustomAiTestCases.java
  test/smoke/framework/testCases/src/main/java/com/microsoft/applicationinsights/smoketest/FixedAiTestCases.java
  test/webapps/PerfTestApp/build.gradle
Labels: Tests
